In [1]:
import pandas as pd

siblings = pd.read_csv("/Users/bridgetfitzpatrick/Desktop/CL_gitprojects/data_1_checks/assets/siblings.csv")
siblings

       Name  Age
0      Sean   31
1   Bridget   31
2  MaryKate   29
3   Shannon   28
4     Conor   27
5     Maeve   25